# ==============================================================================
# Database Configuration
# ==============================================================================
POSTGRES_DB=messenger
POSTGRES_USER=postgres
POSTGRES_PASSWORD=12345678

# ==============================================================================
# JWT Security Configuration
# ==============================================================================
JWT_SECRET=mySuperSecretKeyForJwtTo

# ==============================================================================
# Cloudinary Configuration
# ==============================================================================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ==============================================================================
# Email Configuration
# ==============================================================================
SPRING_MAIL_USERNAME=@.com
SPRING_MAIL_PASSWORD=
