spring.application.name=messenger


# Server Configuration
server.port=8080

# Database Configuration
spring.datasource.url=jdbc:postgresql://localhost:5432/messenger
spring.datasource.username=your_db_username
spring.datasource.password=your_db_password
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
# Logging Configuration
logging.level.org.springframework=INFO

# Cloudinary
cloudinary.cloud_name=your_cloud_name
cloudinary.api_key=your_api_key
cloudinary.api_secret=your_api_secret

# JWT
app.jwt.secret=your_super_secret_key_that_is_long_enough_for_hmac_sha_512
app.jwt.expiration=86400000

# MQTT Integration (Disabled by default, set to true to enable)
mqtt.enabled=false
mqtt.broker.url=tcp://localhost:1883
mqtt.username=admin
mqtt.password=public
mqtt.client.id=server-messenger
mqtt.default.topic=chat/server/default

# Email Configuration
spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=<your_email>.com
spring.mail.password=<your_email_password>
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true